<script setup lang="ts">
import { useUserStore } from "../../stores/user";
import { mdiPencil, mdiDelete, mdiPlus } from "@mdi/js";
import type User from "@/type/User";
const userStore = useUserStore();

const deleteUser = (id: number): void => {
  userStore.deleteUser(id);
};

const addUser = () => {
  userStore.dialog = true;
};

const editUser = (user: User) => {
  userStore.editUser(user);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col col="3" offset="9">
        <v-btn :prepend-icon="mdiPlus" color="primary" @click="addUser"
          >Add new</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col col="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Login</th>
              <th>Name</th>
              <th>Passwrod</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in userStore.users" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.login }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.password }}</td>
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="editUser(item)"
                ></v-btn
                ><v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="deleteUser(item.id)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
