<script setup lang="ts">
import { useUserStore } from "../../stores/user";
import { mdiPencil, mdiDelete } from "@mdi/js";
import type User from "@/type/User";
const userStore = useUserStore();

const deleteUser = (id: number): void => {
  userStore.deleteUser(id);
};

const addUser = () => {
  userStore.dialog = true;
};

const editUser = (user: User) => {
  userStore.editUser(user);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col col="12" md="4" v-for="item in userStore.users" :key="item.id">
        <v-card height="170px">
          <v-card-title> {{ item.login }}: {{ item.id }} </v-card-title>
          <v-card-text>
            Login: {{ item.name }} <br />
            Password: {{ item.password }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              color="secondary"
              @click="editUser(item)"
              :icon="mdiPencil"
            ></v-btn>
            <v-btn color="error" @click="deleteUser" :icon="mdiDelete"></v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col col="12" md="4">
        <v-btn height="170px" width="100%" class="text-h4" @click="addUser"
          >+</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
